<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Developed and Designed by Tyson Mbonambi</a>
  <a href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a>
  <a href="https://www.linkedin.com/in/tyson-mbonambi-1a118410b/"><i class="fa fa-linkedin"></i></a>
  <a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a>
</nav>