<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/IMG_8638.JPG" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Me</h1>
            <p>Tyson is the last born of Thokozile Queen Mbonambi</p>
            <p>i was born i senaone but rose in orange farm, i used node js, and express to build server for this website.<br>
            i did programming but i am an a profesional Intergration developer</p>
        </div>

    </div>
</div>