<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/IMG_8638.JPG" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About Me</h1>
            <p>Tyson is the last born of Thokozile Queen Mbonambi</p>
            <p>i was born in senaoane but grew up in orange farm, i used nodejs, and express to build the server for this website.<br>
            i did programming but i am a profesional Intergration developer</p>
            <br>
            <h3>My Resume</h3>
            <a href="/resume/TysonMbonambi_resume.docx">
            <i class="fa fa-download">Download docx</i></a>
        </div>

    </div>
</div>