<div class="container">
    <h1>Portfolio Page</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/cd_beta.gif" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/Figure16.gif" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/IBM DataPower.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/salesforce-apim-en.png" class="img-responsive">
        </div>
    </div>
</div>