body{
    background-image: url("/images/image2.jpg");
    background-repeat: repeat;
    background-size: cover;
}
p, h3{
    color: whitesmoke;
}
h1{
    color: red;
    text-align: center;
}
#homepage{
    text-align: center;
    color: whitesmoke;
}
.para{
    font-size: 30px;
}
#main{
    margin-top: 60px;
    margin-bottom: 20px;
}
img{
    width: 200px;
    height: auto;
}
.col-sm-4{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
.fa{
    color: aliceblue;
}